label {
	margin-bottom: 0px;
	margin-top: 5px;
}

th,td{
    text-align: center;
}

body{
    font-family: Montserrat;
    font-size: 13px;
}

/* .active {
    background: #c3c3c3c4;
    color: white;
} */

.main_logo {
    width: 220px;
    height: 80px;
}

.small_logo {
    width: 70px;
    height: 70px;
}

.text-right
{
    text-align: right;
}

.text-left
{
    text-align: left;
}
.dash-count-bg{
   background: #5a5a5a29;
} 